<template name="explore">
    <section id="explore" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Explore your city's voices</h2>
                    <h3 class="section-subheading text-muted">What are you waiting for?..</h3>
                </div>
            </div>
            <div class="row">
                {{#each voices}}
                    {{> voice}}
                {{/each}}
            </div>
        </div>
    </section>
</template>

<!-- Single voice template -->
<template name="voice">
    <div class="col-md-4 col-sm-6 popular-item">
        <div class="thumbnail">
            <a href="voices/{{_id}}" class="popular-link" data-toggle="modal">
                <div class="popular-hover">
                    <div class="popular-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/popular/filsdudetroit.jpg" class="img-responsive" alt="">
            </a>
            <div class="popular-caption">
                <h4>{{name}}</h4>
                <p class="text-muted">{{category}}</p>
                <br>
                {{description}}
            </div>
        </div>
    </div>
</template>