<template name="newvoice">
    <section id="newvoice" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{_ "newvoice_title"}}</h2>
                    <h3 class="section-subheading text-muted">{{_ "newvoice_subtitle"}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                  <!--
                  {{#autoForm collection='Voices' id='insertVoiceForm' type='insert'}}
                      <fieldset>
                          &lt;!&ndash;<legend>Add a voice</legend>&ndash;&gt;
                          {{> afQuickField name='name'}}
                          {{> afQuickField name='category'}}
                          {{> afQuickField name='description' rows=6}}
                          {{> afQuickField name='location'}}
                          {{> afQuickField name='picture'}}
                      </fieldset>
                      <button type="submit" class="btn btn-primary">Create</button>
                  {{/autoForm}}

                  {{> dropzone url='/upload' id='dropzoneDiv'}}-->
                </div>

                <div class="col-lg-4 col-md-4">
                  {{> quickForm collection="Voices" id="insertVoiceForm" type="insert" omitFields="owner,createdAt"}}

                  <!--<div class="panel-body">
          					<p class="text-center">
          						{{#with getDoc picture 'Images'}}
          							<img src="{{url}}" class="img-thumbnail img-rounded">
          						{{/with}}
          					</p>
                  </div>


                  <div class="panel panel-default">
                      <div class="panel-body dropzone-preview">
                      </div>
                  </div>

                  <div id="preview-template" style="display: none;"></div>

                  <form action="/file-upload"
                        class="dropzone"
                        id="my-awesome-dropzone">
                      <input name="file" type="file" multiple />
                  </form>
                -->
                </div>
            </div>
        </div>
    </section>
</template>
