<template name="newvoice">
    <section id="newvoice" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{_ "newvoice_title"}}</h2>
                    <h3 class="section-subheading text-muted">{{_ "newvoice_subtitle"}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                  {{#autoForm collection="Voices" id="insertVoiceForm" type="insert"}}
                    <fieldset>
                      <legend>{{_ "createvoice"}}</legend>
                      {{> afQuickField name='name'}}
                      {{> afQuickField name='category'}}
                      {{> afQuickField name='description' rows=6}}
                      {{> afQuickField name='location' options='allowed'}}
                      {{> afQuickField name='picture'}}
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Create</button>
                  {{/autoForm}}

                  <!--{{> quickForm collection="Voices" id="insertVoiceForm" type="insert" omitFields="voters,votes,closed,owner,createdAt"}}-->
                </div>

                <div class="col-lg-4 col-md-4">

                </div>
            </div>
        </div>
    </section>
</template>
