<template name="voice">
  <div class="col-md-4 col-sm-6 popular-item">
      <a href="#{{_id}}" class="popular-link" data-toggle="modal">
          <div class="popular-hover">
              <div class="popular-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
              </div>
          </div>

          {{#with getDoc picture 'Images'}}
            <img src="{{url}}" class="img-thumbnail img-rounded img-responsive" >
          {{/with}}

        </a>
        <div class="popular-caption">
            <h4>{{name}}</h4>
            <p class="text-muted">{{category}}</p>
            <br>
            {{preview description}}
            <br>
            <br>
            <i class="fa fa-thumbs-up"></i> {{votes}}
        </div>
  </div>
</template>

<template name="modalvoice">
  <div class="popular-modal modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>{{name}}</h2>
                          <p class="item-intro text-muted">{{category}}</p>
                          {{#with getDoc picture 'Images'}}
                            <img src="{{url}}" class="img-thumbnail img-rounded">
                          {{/with}}
                          <p>{{description}}</p>

                          {{#if currentUser}}
                            {{#unless backed _id}}
                              {{#linkTo route='backvoice' class='btn btn-primary'}}<i class="glyphicon glyphicon-volume-up"></i> {{_ "backvoice"}}{{/linkTo}}
                              <!--
                                <a href="{{pathFor route='backvoice'}}"><i class="glyphicon glyphicon-volume-up"></i> {{_ "backvoice"}} 2</a>
                                <button type="button" name="backBtn_{{_id}}" class="btn {{#if backed _id}}btn-success{{else}}btn-primary back{{/if}} "><i class="fa fa-thumbs-up"></i>{{#unless backed _id}} {{_ "backvoice"}}{{/unless}}</button>
                              -->
                              <button type="button" name="voteBtn_{{_id}}" class="btn {{#if voted _id}}btn-success voted{{else}}btn-primary vote{{/if}} "><i class="fa fa-thumbs-up"></i>{{#unless voted _id}} {{_ "upvote"}}{{/unless}}</button>
                            {{/unless}}
                          {{/if}}
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{_ "close"}}</button>
                      </div>
                      {{#if backed _id}}
                        <div class="col-lg-12">
                          {{#each comments _id}}
                            {{> comment}}
                          {{/each}}
                        </div>
                      {{/if}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<template name="comment">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="img/team/2.jpg" alt="Commenter profile picture">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Author</h4>
    ...
  </div>
</div>
</template>
