<template name="profile">
  <section id="profile" class="bg-light-gray">
      <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-4 text-center">
              <div class="profile">
                  <img src="{{currentUser.profile.picture}}" class="img-responsive img-circle" alt="{{currentUser.profile.name}} profile picture">
              </div>
            </div>
            <div class="col-sm-4 col-md-4 text-left" style="margin-top:30px">
              {{#unless editMode}}
                <h1 style="margin-top:0px">{{currentUser.profile.name}}</h1>
              {{else}}
                <form class="profile-form form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-8 col-md-8">
                      <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Your name" value="{{currentUser.profile.name}}">
                    </div>
                    <button type="submit" class="btn btn-success" >{{_ "change"}}</button>
                  </div>
                </form>
              {{/unless}}
              <p class="text-muted">{{_ "joined"}}{{currentUser.profile.joined}}</p>
              <p class="text-muted">{{_ "backed" }}{{currentUser.profile.backed}}{{_ "voices"}}</p>
            </div>
            <div class="col-sm-4 col-md-4 text-left" style="margin-top:30px">
              <button type="button" class="editModeBtn btn {{#unless editMode}}btn-success{{else}}btn-danger{{/unless}}"><i class="glyphicon glyphicon-edit"></i></button>
            </div>
          </div>
          <div class="row">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">{{_ "my_voices"}}<span class="badge">{{currentUSer.profile.voices}}</span></a></li>
              <li role="presentation"><a href="#">{{_ "backed_voices"}}<span class="badge">{{currentUSer.profile.backed}}</span></a></li>
              <li role="presentation"><a href="#">{{_ "upvoted_voices"}}<span class="badge">{{currentUSer.profile.upvotes}}</span></a></li>
            </ul>
          </div>
      </div>
  </section>
</template>
