<template name="navbar">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#linkTo route='home'}}<a class="navbar-brand page-scroll">{{_ "voiceoftangier"}}</a>{{/linkTo}}
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                    <li>
                        {{#linkTo route='explore'}}<i class='fa fa-globe'></i> {{_ "explore"}}{{/linkTo}}
                    </li>
                    {{#if currentUser}}
                    <li>
                        {{#linkTo route='newvoice'}}<i class='fa fa-send-o'></i> {{_ "share"}}{{/linkTo}}
                    </li>
                    {{/if}}
                    <li>
                        <div class="pull-left">
                            <form class="navbar-form search-voice" role="search" novalidate>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder='{{_ "searchvoices"}}' name="srchterm" id="srchterm">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn-group" style="padding-top:8px;">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img id="langImg" src="blank.gif" class="flag flag-fr"/></button>
                            <ul class="dropdown-menu" style="min-width:10px;">
                                <li><a class="fr" href="?lang=fr"><img src="blank.gif" class="flag flag-fr"/></a>
                                </li>
                                <li><a class="en" href="?lang=en"><img src="blank.gif" class="flag flag-gb"/></a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--<li><div class='nav navbar-nav navbar-right'>{{> loginButtons align="right"}}</div></li>-->
                    {{#if currentUser}}
          						{{> notificationsDropdown icon='bell' iconEmpty='bell-o'}}

          						<li class="dropdown hidden-xs">
          							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.profile.name}} <i class="fa fa-chevron-down i-xs"></i></a>
          							<ul class="dropdown-menu">
                          <li><a href="{{pathFor 'profile'}}">{{_ "profile"}}</a></li>
          								<li class="divider"></li>
                          <!--{{#if session 'isAdmin'}}
                            <li><a href="{{pathFor 'newvoices'}}">{{_ "newvoices"}}</a></li>
                            <li class="divider"></li>
                          {{/if}}-->
          								<li><a href="/sign-out">{{_ "signout"}}</a></li>
          							</ul>
          						</li>
          						<li class="visible-xs">
          							<a href="{{pathFor 'profile'}}" class="close-navbar">{{_ "profile"}}</a>
          						</li>
                      <li class="visible-xs">
          							<a class="close-navbar" href="/sign-out">{{_ "signout"}}</a>
          						</li>
          					{{else}}
          						<li>
          							<a class="close-navbar" href="/sign-up">{{_ "signup"}}</a>
          						</li>
          						<li>
          							<a class="close-navbar" href="/sign-in">{{_ "login"}}</a>
          						</li>
          					{{/if}}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</template>
